a,a:visited,a:hover,a:focus{
	color: #fff;
	text-decoration: none;
}

.wrap{
	max-width: 600px;
	padding-top: 20px; 
	padding-bottom: 20px;
}

.iu-box{
	position: relative;
	margin: 20px 0 10px 0;
	.iu-drop-zone{
		background: lightgray;
		position: relative;
		border-radius: 10px;
		border: 4px dashed #000;
		width: 100%;
		height: 200px;
		cursor: pointer;
		span{
			display: inline-block;
			font-size: 26px;
		}
	}
	.iu-img-box{
		& img{
			max-height: 300px;
		}
		& button{
			margin: 10px;
			display: inline-block;
		}
	}
	.iu-icon{
		display: block;
		font-size: 40px;
		margin-top: 50px;
	}
}

.data-list{
	.data-box{
		margin: 15px 0;
		& span{
			display: inline-block;
			margin-top: 5px;
		}
		& span::after{
			content: '.';
		}
	}
}

/* Animations */

.iu-drop-zone.drag-over{
	background: lightgreen;
}
