<div ng-if="config" flow-init="config" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg=$message">
	<div class="iu-drop-zone text-center" ng-class="dropClass" flow-drop flow-btn ng-hide="$flow.files[0]">
		<i class="fa fa-plus-square iu-icon"></i>
		<span>Drag or click here</span>
	</div>
	<div class="iu-img-box text-center" ng-show="$flow.files[0]" ng-if="config.singleFile">
		<img flow-img="$flow.files[0]" class="img-responsive img-thumbnail"><br/>
		<button class="btn btn-primary" ng-click="$flow.cancel()">Thay hình khác</button>
	</div>
	<div class="iu-img-box" ng-show="$flow.files[0]" ng-if="!config.singleFile">
		<div class="col-xs-4" ng-repeat="file in $flow.files">
			<img flow-img="file" class="img-responsive img-thumbnail"><br/>
			<button class="btn btn-primary" ng-click="file.cancel()">Xóa</button>
		</div>
		<div class="col-xs-12 text-center">
			<button class="btn btn-danger" ng-click="$flow.cancel()">Xóa tất cả</button>
		</div>
	</div>
</div>