<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>A simple project</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">
	<div class="container wrap">
		<div class="row">
			<div class="col-xs-12 iu-box">
				<div class="text-center" image-uploader upload-type="multiple"></div>
			</div>
			<div class="col-xs-12 data-list" ng-controller="dataCtrl">
				<div class="data-box row" ng-repeat="data in dataList.dl track by $index">
					<div class="col-xs-1 text-center">
						<span>{{$index+1}}</span>
					</div>
					<div class="col-xs-9 data-input">
						<input type="text" value="{{data.content}}" placeholder="Type something here..." class="form-control">
					</div>
					<div class="col-xs-2 text-center">
						<button class="btn btn-danger" ng-click="dataList.delete($index)"><i class="fa fa-close"></i></button>
					</div>
				</div>
				<button class="btn btn-default" ng-click="dataList.add()">Add</button>
				<button class="btn btn-primary" ng-click="dataList.save()">Save</button>
			</div>
		</div>
	</div>


	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/flow.js/dist/flow.min.js"></script>
	<script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>